@inherits ComponentBase
@if (Topic is not null && MetaData is not null)
{
    <div class="w-full my-3 mx-auto divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow-sm">
        <div class="px-4 py-5 sm:px-6 flex items-center justify-between">
            <h3 class="text-xl">
                @Topic.Name
            </h3>
            <div>
                <ButtonTray>
                    <ButtonTrayButton Text="Preview" @bind-IsActive="@_isPreviewActive" IsDefaultActive="true">
                        <Icon>
                            <svg class="size-5 shrink-0 stroke-slate-600 group-data-selected:stroke-sky-500"
                            fill="none"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                                <path d="M17.25 10c0 1-1.75 6.25-7.25 6.25S2.75 11 2.75 10 4.5 3.75 10 3.75 17.25 9 17.25 10Z"></path>
                                <circle cx="10" cy="10" r="2.25"></circle>
                            </svg>
                        </Icon>
                    </ButtonTrayButton>
                    <ButtonTrayButton Text="Code" @bind-IsActive="@_isCodeActive">
                        <Icon>
                            <svg class="size-5 shrink-0 stroke-slate-600 group-data-selected:stroke-sky-500"
                            fill="none"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                                <path d="m13.75 6.75 3.5 3.25-3.5 3.25M6.25 13.25 2.75 10l3.5-3.25"></path>
                            </svg>
                        </Icon>
                    </ButtonTrayButton>
                </ButtonTray>
            </div>
        </div>
        <div class="px-4 py-5 sm:p-6 flex items-center justify-center font-sans">
            @{
                var type = Type.GetType(MetaData.ComponentType);
            }
            @if (_isPreviewActive)
            {
                @if (type is not null)
                {
                    <DynamicComponent Type="@type" Parameters="@GetParameterCollection()" />
                }
            }
            else
            {
                <pre class="rounded-lg bg-indigo-950 p-6 font-mono text-white w-full">
                    @GenerateCode()
                </pre>
            }
        </div>
    </div>
}
